<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>772525677602-70757reu7qvg24e5u4emdec3he5qnl42.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.772525677602-70757reu7qvg24e5u4emdec3he5qnl42</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>772525677602-q4as2dhbdkich09mj886cvnj908ablii.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCU0r80BwDeXQjRkUKAnPHcjmREth2gZUg</string>
	<key>GCM_SENDER_ID</key>
	<string>772525677602</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rudoAppClone</string>
	<key>PROJECT_ID</key>
	<string>rudo-app-clone</string>
	<key>STORAGE_BUCKET</key>
	<string>rudo-app-clone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:772525677602:ios:edcf196544581fae293e7b</string>
</dict>
</plist>